# Compiled files
*.tfstate
*.tfstate.backup

# Module directory
.terraform
.idea
*.iml
*.orig
.build-harness
build-harness
node_modules
*.ini
*.ZIP

*~HEAD
*backup
*.ini
tmp
lambda
*~HEAD
*backup

code/.circleci
code/docs
code/test
code/.editorconfig
code/.eslintrc
code/cloudformation.yaml
code/LICENSE
code/Makefile
code/README.md
